* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

/************************* *NAVBAR ***************************/

.navbar-container {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navbar-container div img {
  width: 100px;
}
.list {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.list-item:first-child {
  color: #000;
}
.list-item {
  list-style-type: none;
  color: #22135d79;
  cursor: pointer;
}
.list:first-child {
  color: #000;
  font-weight: 500;
}
.list-item:hover {
  font-weight: bold;
}

.container {
  max-width: 1140px;
  margin: auto;
}
@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  .list {
    margin-left: -400px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 740px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 500px;
  }
  .list {
    display: none;
  }
}
@media (max-width: 568px) {
  .container {
    max-width: 90%;
  }
}

.nav-button {
  padding: 12px 25px;
  background-color: #4b2ebfcf;
  border-radius: 8px;
  color: #fff;
  border: none;
  cursor: pointer;
}
.nav-button:hover {
  border: 2px solid #4b2ebfcf;
  background-color: #fff;
  color: #22135d;
  font-weight: bold;
}
/******************* *Hero Section *********************/
.banner-container {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  gap: 50px;
  margin-top: 30px;
}
h1 {
  font-size: 50px;
  color: #22135dcf;
  line-height: 60px;
}
h1 span {
  color: #4b2ebfcf;
}
h1 span:hover {
  color: #eb6d6d;
}
p {
  color: #22135dcf;
  margin-top: 30px;
}
.btn {
  margin-top: 25px;
}
img[src="./assets/Header Illustration.png"] {
  width: 100%;
  height: auto;
}
@media (max-width: 1200px) {
  h1 {
    font-size: 40px;
  }
}
@media (max-width: 1024px) {
  h1 {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .banner-container {
    display: flex;
    flex-direction: column-reverse;
  }
}

  
